
#day{
    display: flex;
    
    align-items: center;
    font-size: 3vw;
    font-weight: 400;
}
#date{
    transform: translateY(-1vw);
    font-weight: 300;
    font-size: 1.5vw;
}
#left-container{
    position: relative;
    height: 100%;
}
#temp-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.4vw;
    
}
#temp-average{
    font-size: 2vw;
}
#temp-feels-like{
    font-weight: 400;
    font-size: 1.2vw;
    width: 10vw;
}
#high-low-temp-container{
    position: absolute;
    margin: auto;
    width: 100%;
    
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    gap: 1vw;
}
#high-low-temp-container div{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    gap: 0.05vw;

}
#high-low-temp-container svg{
    width: 1vw;
}
#high-temp svg{
    rotate: 180deg;
}
.today-card-section{
    height: 100%;
}
#date-container{
    transform: translateY(-1vw);
}
#loading-text{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Manrope Variable';
    font-weight: 400;

}
#today-card-container{
    overflow: hidden;
}

#weather-code-today{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    
}
#weather-code-today-svg-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1.5vw;
}
#weather-code-today-svg-container svg{
    width: 10vw;
}

#mid-right-container{
    font-size: 1.8vw;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 0.15vw;
}
#mrc-right, #mrc-left{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.details-text{
    font-size: 1.3vw;
}