

#theme-switcher-container div{
    position: absolute;
}
#theme-switcher-container:hover{
    background: var(--button-bg-solid-hover);

  
    fill: var(--text-col);
}
#theme-switcher div{
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#theme-switcher{
    overflow: hidden;
    
}

#light-theme svg{
    fill: black;
}

#github-container div{
    position: absolute;
}
#github-container:hover{
    background: var(--button-bg-solid-hover);

  
    fill: var(--text-col);
}
#github-container:active{
    background: black;

  
    fill: var(--text-col);
}
#github-link div{
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#github-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#github-link{
    overflow: hidden;
    
}

