:root{
  --border-rad: 27px;
  --bg-bg: rgb(0, 0, 0);
  --bg-col: rgb(34, 30, 94);
  --border-col: rgba(255, 255, 255, 0.164);
  --outer-card-bg: rgb(13, 15, 26);
  --button-bg:  rgba(0, 0, 0, 0.274);
  --text-col: white;
  --text-col-alt: black;
  --button-bg-solid: rgb(212, 212, 255);
  --button-bg-solid-hover: rgb(245, 245, 255);
  --button-bg-solid-static: rgb(184, 184, 235);
  --modal-bg: rgba(0, 0, 0, 0.274);
}
[theme="light"]{
  --modal-bg: rgb(255, 236, 195);
  --bg-col: rgb(255, 67, 67);
  --outer-card-bg: rgb(255, 236, 195);
  --border-col: rgba(0, 0, 0, 0.548);
  --button-bg:  rgba(173, 121, 121, 0.103);
  --text-col: black;
  --text-col-alt: white;
  --button-bg-solid: black;
  --button-bg-solid-hover: rgb(255, 87, 87);
  
  
}

::selection{
  background-color: black;
  color: white;
}

#theme-switcher-container{
  background-color: var(--button-bg-solid-static);
}

#noise{
  pointer-events: none;
  
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/4k_Dissolve_Noise_Texture.png/2048px-4k_Dissolve_Noise_Texture.png");
  mix-blend-mode: soft-light;
  opacity: 0.4;
  z-index: 9999;
}
.nav-container svg{
  fill: var(--text-col-alt);
}

body *{
  transition: background-color 200ms ease-in-out, border-color 120ms ease-in-out, color 60ms ease-in-out, fill 80ms ease-in-out, box-shadow 120ms ease-in-out;
}

body{
  font-family: "Manrope Variable";
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.outer-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient1{
  user-select: none;
  position: absolute;
  z-index: 3;
  width: 1000px;
  height: 600px;
  left: -20px;
  top: 20px;

  
  
  background-color: var(--bg-col);
  border-radius: 50%;
  filter: blur(200px);
  
  
  
  
}
@-moz-document url-prefix(){
  .gradient1{
    opacity: 0.7;
  }

  .gradient2{
    opacity: 0.7;
  }
}

.gradient2{
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 3;
  width: 80%;
  height: 100%;
  right: -200px;
  background-color: var(--bg-col);
  opacity: 0.5;
  border-radius: 50%;
  filter: blur(180px);
  
}

.inner-container{
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: calc(100vh - 20px);
  width: calc(100% - 20px);
 
  border: 2px var(--bg-col) solid;
  background-color: var(--outer-card-bg);
  background-size: cover;
  background-repeat: no-repeat;
  

  border-radius: 32px;
}
#mid-container{

  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  
}

#mid-container *{
  z-index: 9;
}

.nav-container{
  z-index: 10 !important; 
  margin-top: 10px;
  position: relative;
  width: 100%;
  color: var(--text-col-alt);
  display: flex;
  justify-content: space-between;
}
.middle-nav{
  
  height: 42px;
  font-weight: 200;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  padding-inline: 6px;
  border: var(--border-col) solid 1px;
  background-color: var(--button-bg);
  border-radius: var(--border-rad);
  backdrop-filter: blur(8px);
}

.middle-nav > div{
  
  height: 20px;
  background-color: var(--button-bg-solid);
  padding: 12px;
  padding-block: 5px;
  border-radius: var(--border-rad);
  cursor: pointer;
}
#location-picker{
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0;
  height: 30px;
  
  width: 30px;
  
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
#location-picker:hover{
  background: var(--button-bg-solid-hover);
  border: 1px solid var(--text-col);
  
  fill: var(--text-col);
  
}

#location-display:hover{
  background: var(--button-bg-solid-hover);
  border: 1px solid var(--text-col);
  
  fill: var(--text-col);
  

}
#location-display{
  border: 1px solid transparent;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.nav-bg{
  margin-inline: 10px;
  position: relative;
  font-size: 14px;
  height: 42px;
  width: 42px;
  background-color: var(--button-bg-solid);
  border: var(--border-col) solid 1px;
  backdrop-filter: blur(8px);
  border-radius: var(--border-rad);
}


#cards-container{
  margin: 15px;
  height: calc(100% - 75px);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#today-card-container{
  height: 100%;
  position: relative;
  margin: 10px;
  border-radius: var(--border-rad);
  
  background-color: var(--button-bg);
  border: var(--border-col) solid 2px;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 1fr 40px 1fr 40px 1.5fr 40px 2fr;
  padding-inline: 20px;
  padding-block: 20px;
  box-sizing: border-box;
}
#today-card-container div{
  user-select: none;
  color: var(--button-bg-solid);
}

#today-card-container svg{
  fill: var(--button-bg-solid);
}
.divider{
  margin: auto;
  width: 2px;
  border-radius: 36px;

  height: 100%;
  background-color: var(--border-col);
  opacity: 75%;
}
#weather-cards-container{
  color: var(--button-bg-solid);
  position: relative;
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;

}
#weather-cards-container svg{
  fill: var(--button-bg-solid);
}
.weather-card{
  background-color: var(--button-bg);
  border: var(--border-col) solid 2px;
  backdrop-filter: blur(10px);
  
  display: flex;
  
  border-radius: var(--border-rad);

  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}


#digital-clock{
  user-select: none;
  font-family: 'Bodoni Moda Variable', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  
  color: var(--button-bg-solid);
}
#loading{
  -webkit-font-smoothing: antialiased;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
#loading div{
  font-size: 18px;
  
  
}
#loading-main{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 15;
}
